#renLogo {
  margin: auto;
  display: block;
  width: 175px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#holdlogo {
  display: flex;
  justify-content: center;
  height: 200px;
  align-items: center;
  position: relative
}

.imagecap {
  clear: left;
  font-style:italic;
  padding:5px;
  margin:5px;
  text-align:center;
}

.imagecapright {
  float: right;
  width:30%;
}

.imagecapleft {
  float: left;
  width:30%;
}

.leftright {
  width:45%!important;
}

.imagecap p {
  text-align:center!important;
  font-style:italic;
}

.jumbotron {
  padding:75px 10px 10px 10px!important;
  border-bottom: 10px solid #017BFF;
}

.second {
  background-color:aliceblue;
}
.jackson {
  background-color:papayawhip;
}

a.btn:hover {
  background-color:#017BFF;
}

a.dropdown-toggle:hover{
  color:yellow!important;
  font-weight:bold;
}

a.dropdown-item:hover {
  font-weight:bold;
}